################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.pyc
*.vsidx
/.vs
/syspce.log
/history.dat
